<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>7 days</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
    <link rel="stylesheet" href="canvas.css" />
  </head>
  <body>
    {{{body}}}

  </body>
</html>