<div class="page5">
    <div class="blog-text">
        there's a type of existentialism that is hard to abate. we make ourselves smaller, our voices quieter, letting the world pass us by. we need to break the pattern. stop accepting the heteronormative patriarchy. an <u>anti-pattern</u> can exist with accepting <u>queerness</u> as the ultimate <u>utopia</u>. there is a comfort in sincerity, being "real" versus "performance". a new sincerity in cringe and vulnerability.

        <blockquote>"exposure to cringe content might allow us to recapture our lost humanist values." <a href="https://joshuacitarella.substack.com/p/irony-politics-and-gen-z-part-2?r=182mao&utm_medium=ios&utm_campaign=post">Joshua Citarella</a></blockquote>

        <u>queer</u> patterns fight the norm. "solutions" imply one-size-fits-all. "solutions" create patterns, where patterns create systems, and systems enforce normality. we don't need normal. we need reality. we need cringe.
        <div class="page5-img"><img src="assets/page5/fwands.jpg"></div>
    </div>
</div>