body {
  margin: 0;
  overflow: clip;
  background-color: black;
}

main {
  background-color: black;
  z-index: 1;
}

h1, h2{
  position: absolute;
  background-color: white;
  padding: 10px 5px;
  z-index: 10;
}

#clickable {
    height: 100%;
    width: 100%;
    z-index: 9;
    position: absolute;
}

#looking_image{
    position:absolute;
    z-index: 8;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

@media (min-width: 320px) {
    .looking{
        top: 350px;
        right: 50px;
    }
    .not{
        top: 400px;
        right: 75px;
    }
    .touching{
        top: 550px;
        right: 10px;
    }
    #looking_image{
        top: 100px;
        width: 100%;
    }

}
@media (min-width: 641px) {

}
@media (min-width: 1025px) {
    .looking{
        top: 400px;
        right: 600px;
    }
    .not{
        top: 450px;
        right: 550px;
    }
    .touching{
        top: 800px;
        right: 400px;
    }
    #looking_image{
        top: 100px;
        width: 50%;
    }
}
