body {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}

.page2,
.page3,
.page4,
.page5,
.page6,
.page7 {
  visibility: hidden;
}

.home-content {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.page {
  /* border: solid white 2px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
  position: relative;
}

.page_image {
    object-fit: cover;
    z-index: 1;
  }

@media (min-width: 320px) {
  .page {
    width: 100%;
    max-height: calc(100% * (1 / 7) - 4px);
  }
  .page_image{
    width: 100%;
  }
  a{
    font-size: 16pt;
  }
}
@media (min-width: 641px) {
  .page {
    width: calc(100% * (1 / 2) - 4px);
  }
  a{
    font-size: 24pt;
  }
}
@media (min-width: 1025px) {
  .page {
    width: calc(100% * (1 / 4) - 4px);
    max-height: calc(100% * (1 / 2) - 4px);
  }
  .page_image{
    height: 100%;
  }
}
/* #page1 {
  height: 100%;
  width: 100%;
} */

a {
  height: 100%;
  text-decoration: none;
  color: white;
  z-index: 10;
  transition: transform 2s, opacity .5s;
  display: flex;
  height: 100%;
  position: absolute;
  left:0;
  right:0;
  align-items: center;
  justify-content: space-around;
}

a:hover {
    border: 1px solid white;
    transform: scale(0.8);
  }
